coverage
dist
*.tgz
*.zip

!node_modules/
node_modules/*
!node_modules/gridstack/
node_modules/gridstack/*
!node_modules/gridstack/dist/
node_modules/gridstack/dist/*
!node_modules/gridstack/dist/gridstack-h5.js
!node_modules/gridstack/dist/gridstack.min.css
!node_modules/gridstack/dist/gridstack-extra.min.css
!node_modules/gridstack/dist/gridstack.css
!node_modules/gridstack/dist/gridstack-extra.css
