coverage
dist
*.tgz
*.zip

!node_modules/
node_modules/*
!node_modules/gridstack/
node_modules/gridstack/*
!node_modules/gridstack/dist/
node_modules/gridstack/dist/*
!node_modules/gridstack/dist/gridstack-h5.js
!node_modules/gridstack/dist/gridstack-h5.js.map
!node_modules/gridstack/dist/gridstack-jq.js
!node_modules/gridstack/dist/gridstack-jq.js.map
!node_modules/gridstack/dist/gridstack.css
!node_modules/gridstack/dist/gridstack.min.css
!node_modules/gridstack/dist/gridstack-extra.min.css
!node_modules/gridstack/dist/gridstack-extra.css
!node_modules/gridstack/dist/es5/
node_modules/gridstack/dist/es5/*
!node_modules/gridstack/dist/es5/gridstack-poly.js
!node_modules/gridstack/dist/es5/gridstack-jq.js
!node_modules/gridstack/dist/es5/gridstack-jq.js.map
