# Source & demo
src/
demo/
spec/

# dependencies
yarn.lock

# Configuration
.gitignore
.jscsrc
.npmignore
.travis.yml
.eslint*
.vscode
Gruntfile.js
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
freelancer
karma.conf.js
protractor.conf.js
tsconfig.json
webpack.config.js

## From .gitignore:
*.log
*.tgz
*.zip
coverage/
node_modules/

# files that might have secrets in them
.npmrc
