.grid-stack {
    position: relative;
}

.grid-stack-item {
    position: absolute;
    padding: 0;
}

.grid-stack-item .grid-stack-item-content,
.grid-stack-item .placeholder-content {
    margin: 0;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    width: auto;
    z-index: 0 !important;
}

.grid-stack-placeholder .placeholder-content {
    border: 1px dashed lightgray;
}

.grid-stack-item.ui-draggable-dragging,
.grid-stack-item.ui-resizable-resizing {
    z-index: 100;
}

.grid-stack-item.ui-draggable-dragging .box,
.grid-stack-item.ui-resizable-resizing .box {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

.grid-stack-item .ui-resizable-handle {
    padding: 3px;
    margin: 3px 0;
    cursor: nwse-resize;
    color: gray;

    position: absolute;
    bottom: 0;
    right: 15px;

    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

    font-size: 10px;
}

.grid-stack-item .ui-resizable-handle::before {
    content: "\f065";
}

.grid-stack-item[data-gs-width="12"] { width: 100% }
.grid-stack-item[data-gs-width="11"] { width: 91.66666667% }
.grid-stack-item[data-gs-width="10"] { width: 83.33333333% }
.grid-stack-item[data-gs-width="9"]  { width: 75% }
.grid-stack-item[data-gs-width="8"]  { width: 66.66666667% }
.grid-stack-item[data-gs-width="7"]  { width: 58.33333333% }
.grid-stack-item[data-gs-width="6"]  { width: 50% }
.grid-stack-item[data-gs-width="5"]  { width: 41.66666667% }
.grid-stack-item[data-gs-width="4"]  { width: 33.33333333% }
.grid-stack-item[data-gs-width="3"]  { width: 25% }
.grid-stack-item[data-gs-width="2"]  { width: 16.66666667% }
.grid-stack-item[data-gs-width="1"]  { width: 8.33333333% }

.grid-stack-item[data-gs-x="12"] { left: 100% }
.grid-stack-item[data-gs-x="11"] { left: 91.66666667% }
.grid-stack-item[data-gs-x="10"] { left: 83.33333333% }
.grid-stack-item[data-gs-x="9"]  { left: 75% }
.grid-stack-item[data-gs-x="8"]  { left: 66.66666667% }
.grid-stack-item[data-gs-x="7"]  { left: 58.33333333% }
.grid-stack-item[data-gs-x="6"]  { left: 50% }
.grid-stack-item[data-gs-x="5"]  { left: 41.66666667% }
.grid-stack-item[data-gs-x="4"]  { left: 33.33333333% }
.grid-stack-item[data-gs-x="3"]  { left: 25% }
.grid-stack-item[data-gs-x="2"]  { left: 16.66666667% }
.grid-stack-item[data-gs-x="1"]  { left: 8.33333333% }

.grid-stack-item[data-gs-height="1"]  { height: 60px; }
.grid-stack-item[data-gs-height="2"]  { height: 140px; }
.grid-stack-item[data-gs-height="3"]  { height: 220px; }
.grid-stack-item[data-gs-height="4"]  { height: 300px; }
.grid-stack-item[data-gs-height="5"]  { height: 380px; }
.grid-stack-item[data-gs-height="6"]  { height: 460px; }
.grid-stack-item[data-gs-height="7"]  { height: 540px; }
.grid-stack-item[data-gs-height="8"]  { height: 620px; }
.grid-stack-item[data-gs-height="9"]  { height: 700px; }
.grid-stack-item[data-gs-height="10"] { height: 780px; }
.grid-stack-item[data-gs-height="11"] { height: 860px; }
.grid-stack-item[data-gs-height="12"] { height: 940px; }
.grid-stack-item[data-gs-height="13"] { height: 1020px; }
.grid-stack-item[data-gs-height="14"] { height: 1100px; }
.grid-stack-item[data-gs-height="15"] { height: 1180px; }
.grid-stack-item[data-gs-height="16"] { height: 1260px; }
.grid-stack-item[data-gs-height="17"] { height: 1340px; }
.grid-stack-item[data-gs-height="18"] { height: 1420px; }
.grid-stack-item[data-gs-height="19"] { height: 1500px; }
.grid-stack-item[data-gs-height="20"] { height: 1580px; }

.grid-stack-item[data-gs-y="0"]  { top: 0 }
.grid-stack-item[data-gs-y="1"]  { top: 80px; }
.grid-stack-item[data-gs-y="2"]  { top: 160px; }
.grid-stack-item[data-gs-y="3"]  { top: 240px; }
.grid-stack-item[data-gs-y="4"]  { top: 320px; }
.grid-stack-item[data-gs-y="5"]  { top: 400px; }
.grid-stack-item[data-gs-y="6"]  { top: 480px; }
.grid-stack-item[data-gs-y="7"]  { top: 560px; }
.grid-stack-item[data-gs-y="8"]  { top: 640px; }
.grid-stack-item[data-gs-y="9"]  { top: 720px; }
.grid-stack-item[data-gs-y="10"] { top: 800px; }
.grid-stack-item[data-gs-y="11"] { top: 880px; }
.grid-stack-item[data-gs-y="12"] { top: 960px; }
.grid-stack-item[data-gs-y="13"] { top: 1040px; }
.grid-stack-item[data-gs-y="14"] { top: 1120px; }
.grid-stack-item[data-gs-y="15"] { top: 1200px; }
.grid-stack-item[data-gs-y="16"] { top: 1280px; }
.grid-stack-item[data-gs-y="17"] { top: 1360px; }
.grid-stack-item[data-gs-y="18"] { top: 1440px; }
.grid-stack-item[data-gs-y="19"] { top: 1520px; }
