
<div>
  <p class="pick-info">Pick a demo to load:</p>
  <button (click)="show=0">Simple</button>
  <button (click)="show=1">ngFor case</button>
  <button (click)="show=2">ngFor custom command</button>
  <button (click)="show=3">Component HTML template</button>
  <button (click)="show=4">Component ngFor</button>
  <button (click)="show=5">Component Dynamic</button>
</div>

<div class="test-container">
<angular-simple-test *ngIf="show===0"></angular-simple-test>
<angular-ng-for-test *ngIf="show===1"></angular-ng-for-test>
<angular-ng-for-cmd-test *ngIf="show===2"></angular-ng-for-cmd-test>

<div *ngIf="show===3" >
  <p><b>COMPONENT template</b>: using DOM template to use components statically</p>
  <button (click)="add(gridComp)">add item</button>
  <button (click)="delete(gridComp)">remove item</button>
  <button (click)="modify(gridComp)">modify item</button>
  <button (click)="newLayout(gridComp)">new layout</button>
  <gridstack #gridComp [options]="gridOptions" (changeGS)="onChange($event)" (resizestop)="onResizeStop($event)">
    <gridstack-item gs-x="1" gs-y="0">item 1</gridstack-item>
    <gridstack-item gs-x="3" gs-y="0" gs-w="2">item 2 wide</gridstack-item>
  </gridstack>
</div>

<div *ngIf="show===4" >
  <p><b>COMPONENT ngFor</b>: Most complete example that uses Component wrapper for grid and gridItem</p>
  <button (click)="addNgFor()">add item</button>
  <button (click)="deleteNgFor()">remove item</button>
  <button (click)="modifyNgFor(gridComp)">modify item</button>
  <button (click)="newLayoutNgFor()">new layout</button>
  <gridstack #gridComp [options]="gridOptions" (changeGS)="onChange($event)" (resizestop)="onResizeStop($event)">
    <gridstack-item *ngFor="let n of items; trackBy: identify" [options]="n">
      {{n.content}}
    </gridstack-item>
  </gridstack>
</div>

<div *ngIf="show===5" >
  <p><b>COMPONENT dynamic</b>: Best example that uses Component wrapper and dynamic grid creation (drag between grids, from toolbar, etc...)</p>
  <button (click)="add(gridComp)">add item</button>
  <button (click)="delete(gridComp)">remove item</button>
  <button (click)="modify(gridComp)">modify item</button>
  <button (click)="newLayout(gridComp)">new layout</button>
  <gridstack #gridComp [options]="gridOptionsFull" (changeGS)="onChange($event)" (resizestop)="onResizeStop($event)">
  </gridstack>
</div>

</div>
